name: Backend CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      DJANGO_SETTINGS_MODULE: dokoplatform.settings.dev
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install black isort flake8
      - name: Run linters
        run: |
          black --check .
          isort --check-only --profile=black .
          flake8
      - name: Run tests
        run: |
          python manage.py migrate --noinput
          python manage.py test
